@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

@media only screen and (max-with: 375px) {
    .adviceContainer {
        width: 350px;
    }

}
@media only screen and (max-with: 1440px) {
    .adviceContainer {
        width: 300px;
    }

    .adviceNum {
        letter-spacing: 10px;
    }

    .adviceQuote {
        width: 90%;
    }

}



body {
    background-color: hsl(217, 19%, 24%);
}

.adviceContainer {
    background-color: hsl(217, 19%, 38%);
    border-radius: 10px;
    margin: 200px auto;
    width: 500px;
}

.adviceNum {
    font-family: 'Manrope', sans-serif;
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    padding-top: 35px;
    letter-spacing: 3px;
}

.adviceQuote {
    font-family: 'Manrope', sans-serif;
    color: hsl(193, 38%, 86%);
    text-align: center;
    font-size: 28px;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 90%;
}

.divider {
    display: none;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-left: 10%
}

.button {
    display: block;
    border-radius: 30px;
    background-color: hsl(150, 100%, 66%);
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    position: relative; 
    top: 29px;
}

.button:hover {
    box-shadow: 0 0 11px hsl(150, 100%, 66%);
}

.square {
    margin-top: 17px;
}
